name: Deploy mdBook to GitHub Pages

on:
  push:
    branches: [main]

jobs:
  deploy:
    permissions:
      pages: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install mdbook with specific (compatible) version
        run: cargo install mdbook --version 0.4.48
      - name: Install mdbook-katex with specific (compatible) version
        run: cargo install mdbook-katex --version 0.9.4
      - name: Build the book
        run: mdbook build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book